html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background: purple;
    height: 100px;
}

footer {
    background: purple;
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

h2 {
    color: white;
}


.feature-item {
    color: white;
}

article {
    padding: 10px;
    margin: 10px;
    background-color: #393957;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container button {
    background-color: #00D2FF;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container .result {
    background-color: lightgray;
    transition: background-color 0.3s ease;
}

.line-item {
    color: black;
    background-color: white;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    width: 80%;
    max-width: 300px;
    border: none;
    border-radius: 5px;
}